.buyButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyButtons__goToCart, .buyButtons__goToMenu {
    border: none;
    background: rgba(0,0,0,0.8);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    opacity: 0;
}
.buyButtons__goToCart {
    animation: from-left 0.5s 0s ease;
    animation-fill-mode: forwards;
}
.buyButtons__goToMenu {
    animation: from-right 0.5s 0s ease;
    animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .buyButtons__goToMenu {
    font-size: 2.5rem;
  }
}

@keyframes from-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}
  
@keyframes from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}