.cartWidget {
    display: flex;
    position: relative;
    color: white;
}
.cartWidget--empty {
    opacity: 0.5;
    cursor: default;
}
.cartWidget--filled {
    opacity: 1;
    cursor: pointer;
}
.cartWidget__icon {
    font-size: 3.5rem;
}
.cartWidget__counter {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0rem 0.5rem 0rem 0.4rem;
    transform: translateX(10%) translateY(10%);
    line-height: 2rem;
    background-color: red;
    border-radius: 15%;
    font-size: 1.5rem;
    font-weight: bold;
}

.cart{ 
    display: none;
    position: fixed;
    z-index: 3;
    width: 100vw;
    max-width: 400px;
    height: calc(100vh - 60px);
    top: 60px;
    right: 0;
    background-color: rgba(28, 28, 28, 0.9);
    list-style: none;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.out-to-right {
    animation: to-right 0.8s ease;
    animation-fill-mode: forwards;
}
@keyframes to-right {
    100% {
        transform: translateX(100%);
    }
}

.in-from-right {
    animation: from-right 0.8s ease;
    animation-fill-mode: forwards;
}
@keyframes from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}