.cart {
    display: flex;
    position: relative;
}
.cart__icon {
    color: white;
    background-color: #1c1c1c;
    font-size: 3.5rem;
}
.cart__counter {
    color: white;
    background-color: red;
    padding: 0rem 0.5rem 0.2rem 0.4rem;
    border-radius: 15%;
    position: absolute;
    line-height: 2rem;
    right: 0;
    bottom: 0;
    transform: translateX(10%) translateY(10%);
    font-size: 1.5rem;
    font-weight: bold;
}