.itemDetailContainer {
    width: 100vw;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 60px;
}