.itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCount__minusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}
.itemCount__quantity {
    font-size: 2rem;
}
.itemCount__plusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}
.itemCount__addToCartBtn {
    margin-left: 3rem;
    border: none;
    background: rgba(0,0,0,0);
    border-radius: 10%;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    padding-bottom: 0.4rem;
}