.subList__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.subList__items-container {
    margin-bottom: 1rem;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

@media (min-width: 768px) {
    .subList__items-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}