.itemList {
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 1rem;
    padding-top: 70px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background-color: #008f39;
}