.itemDetailContainer {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding: 1rem;
    padding-top: 70px;
}