.itemCount {
    width: 100%;
    max-width: 320px;
    text-align: center;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
    margin: 1rem auto;
}
.itemCount__filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
}
.itemCount__info {
    z-index: 2;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
}

.itemCount__title {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.itemCount__minusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}
.itemCount__quantity {
    font-size: 2rem;
}
.itemCount__plusBtn {
    border: none;
    background: rgba(0,0,0,0.8);
    width: 30px;
    padding-bottom: 0.4rem;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}
.itemCount__addToCartBtn {
    margin-left: 3rem;
    border: none;
    background: rgba(0,0,0,0);
    border-radius: 10%;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}