.item {
    width: 100%;
    min-width: 250px;
    max-width: 280px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin: 1rem auto;
}
.item__filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
}
.item__title {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.item__category {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.item__price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.item__info {
    z-index: 2;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
}
