.itemList {
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    background-color: #008f39;
    min-height: calc(100vh - 85px);
}

@media (min-width: 600px) {
    .itemList {
        min-height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .itemList {
        min-height: calc(100vh - 59px);
    }
}