.loader {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.loader__img {
    width: 100px;
    border-radius: 50%;
    animation: mymove 2s infinite;
}
.loader__text {
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
    padding-left: 0.5rem;
}

@keyframes mymove {
    10% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    60% {transform: rotate(360deg);}
}