.toast {
    position: fixed;
    z-index: 6;
    top: 70px;
    right: 10px;
    max-width: calc(100vw - 20px);
    padding: 1rem;
    border-radius: 5px;
    background-color: #008f39;
    color: white;
    font-size: 1.5rem;
    animation: fade-out 0.5s 2s ease forwards;
}

@keyframes fade-out {
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .toast {
        font-size: 2rem;
    }
}